#TabsToolbar {
  margin-left: 466px !important;
  margin-right: 90px !important;

}

* {
  -moz-osx-font-smoothing: auto !important;
  font-family: -apple-system, system-ui, BlinkMacSystemFont !important;
  scrollbar-width: none !important;
}